<div class="comment clearfix">
  <div class="comment_content">
    <p class="comment_time"> By <%= comment.user.first_name %> <%= time_ago_in_words(comment.created_at) %> Ago</p>
    <p class="comment_description"><%= comment.description %><br>
    <% if current_user.comments.include?(comment) %>
    <%= link_to '', [comment.post, comment], class: "glyphicon glyphicon-trash", method: :delete, data: {confirm: 'you are going to delete this comment, you want to continue?'},  style: "color: red;"%>
    <% end %>
    </p>
  </div>
   <p></p>
</div>