<h3>please create a new post</h3>
<%= form_tag "/posts", method: :post do %>
<div>Title <input type="text" name="title">
</div>
<div>Description <input type="text" name="description">
</div>
<div> <input type="submit" name="create"></div>
<% end -%>
